<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/index :: dynamic(~{::main})}">


<body>
    <main class="row">
     <div>
			<div class="alert alert-primary" role="alert">
			Your order Pruchased</div>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">No.</th>
						<th scope="col">Order No.</th>
						<th scope="col">Order Date</th>
						<th scope="col">Shipping address</th>
						<th scope="col">Trang thai</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order,state:${orders}">
						<td>[[${state.index}]]</td>
						<td>[[${order.order_id}]]</td>
						<td>[[${order.createDate}]]</td>
						<td>[[${order.address}]]</td>
						<td>
						<b style="color: #00008B;">[[${order.status==0?'Đang xử lý' :''}]]</b>
						<b style="color: #FFD700;">[[${order.status==1?'Đang giao hàng' :''}]]</b>
						<b style="color: #2E8B57;">[[${order.status==2?'Đã hoàn thành' :''}]]</b>
						<b style="color: #DC143C;">[[${order.status==3?'Đã huỷ' :''}]]</b>
						</td>
						<td><a th:href="@{|/order/detail/${order.order_id}|}"
							class="btn btn-info"> <b class="fa fa-search"></b>
						
						</a>
						
							
							<button th:if="*{order.Status}==0" type="button" class="btn btn-warning"
								data-toggle="modal" data-target="#myModal"><b class="fa fa-trash"></b></button> <!-- Modal -->
							<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-body text-center">
											<p style="color: red;">Bạn muốn xoá sản phẩm khỏi danh sách yêu thích</p>
										</div>
										<div class="modal-footer">
										<a th:href="@{|/order/delete/${order.order_id}|}"
											class="btn btn-warning" >Delete</a>
											
										<button type="button" class="btn btn-default"
												data-dismiss="modal">Close</button>
											
											
										</div>
								</div>
								</div>
								</div>
								
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </main>
</body>

</html>