
 <div class="col-md-12 mt">
            <div class="content-panel">
              <table class="table table-hover" id="tbl_exporttable_to_xls">
                <h4><i class="fa fa-angle-right"></i>Danh sách đơn hàng  </h4>
               	<div class="row">
            <div class="col-md-4">
                Search By:
                <select class="form-control" ng-model='SearchTerm'>
                    <option value='$'>Tất cả</option>
                    <option value='order_id'>Mã sản phẩm</option>
                    <option value='username'>tên sản phẩm</option>
                    <option value='trademark.name'>Thương hiệu</</option>
                    <option value='status'>Giá</option>
                </select>
            </div>
            <div class="col-md-8">
                Search Key:
                <input type="text" class="form-control" ng-model="searchKeyword[SearchTerm]">
            </div>
        </div>
                <hr>
                <thead>
                  <tr>
                     <th>Mã đơn hàng</th>
                 <th>Khách hàng</th>
                 <th>Ngày đặt</th>
                 <th>Địa chỉ giao hàng</th>
                 <th>Số Điện thoại</th>
                 <th>Tổng tiền</th>
                 <th>Trạng thái thanh toán</th>
                 <th>Trạng thái đơn hàng</th>
                <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr dir-paginate="ord in order | filter: searchKeyword | itemsPerPage:10">
                <td>{{ord.order_id}}</td>
                <td>{{ord.account.username}}</td>
                <td>{{ord.createDate | date : 'dd-MM-yyyy'}}</td>
                <td>{{ord.address}}</td>
                <td>{{ord.phone}}</td>   <td>{{ord.price | number :2}}</td>  <td>{{ord.method}}</td> 
				<td>
				<span class="label label-info label-mini">{{ord.status==0?'Đang sử lý' :''}}</span>
					
					<span class="label label-warning label-mini">{{ord.status==1?'Đã giao hàng' :''}}</span>
					
					<span class="label label-success label-mini">{{ord.status==2?'Hoàn thành' :''}}</span>
					<span class="label label-danger label-mini">{{ord.status==3?'Đã hủy' :''}}</span>
						</td>
                <td ></td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button ng-click="search(ord)" 
                         class="btn btn-warning glyphicon glyphicon-search"></button>
                </td>

            </tr>
                </tbody>
              </table>
              <div class="panel-footer text-center">
 <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"  >
                    </dir-pagination-controls></div>
              <!-- <div class=" text-center">
					<button ng-click="pager.first()" class="btn btn-theme03">
						<b class="glyphicon glyphicon-hand-up"></b>
					</button>
					<button ng-click="pager.prev()" class="btn btn-theme03">
						<b class="glyphicon glyphicon-hand-left"></b>
					</button>
					<button class="btn btn-theme03">{{pager.page + 1}} of
						{{pager.count}}</button>
					<button ng-click="pager.next()" class="btn btn-theme03">
						<b class="glyphicon glyphicon-hand-right"></b>
					</button>
					<button ng-click="pager.last()" class="btn btn-theme03">
						<b class="glyphicon glyphicon-hand-down"></b>
					</button>
					<button class="btn btn-info" onclick="ExportToExcel('xlsx')">Xuất
						excel</button>
				</div>	 -->
            </div>
          </div>
          <!-- /col-md-12 -->
        </div>
<script>

        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('tbl_exporttable_to_xls');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('danhsachdonnhang.' + (type || 'xlsx')));
        }

    </script>
