<div class="row">
 <div class="col-lg-9 "></div>
 <div class="col-lg-3 ds">
 
 </div>	
 
</div>
 <script type="text/javascript">
        $(document).ready(function() {
            var unique_id = $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: 'Chào mừng đến với trang quản trị GoalShop',
                // (string | mandatory) the text inside the notification
                text: 'Hãy kiểm tra các sản phẩm , đơn hàng của ngày hôm nay!',

                sticky: false,
                // (int | optional) the time you want it to be alive for before fading out
                time: 3000,
                // (string | optional) the class name you want to apply to that specific message
                class_name: 'my-sticky-class'
            });

            return false;
        });
    </script>
    